.title-bar {
    -fx-background-color: #0D6895;
    -fx-border-color: #eee;
    -fx-border-width: 0 0 1px 0;
}

.title-bar .title {
    -fx-text-fill: #fff;
}

.button {
    -fx-text-fill: #fff;
    -fx-background-radius: 5px;
    -fx-background-color: #0061a8;
    -fx-border-width: 1px;
    -fx-border-color: #0061a8;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-text-fill: #0D6895;
    -fx-background-color: #FFF;
}

.logout {
    -fx-text-fill: #0D6895;
}

.logout:hover {
    -fx-text-fill: #1189C4;
}

.table-view {
    -fx-font-family: Tahoma;
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-font-size: 15px;
}
#course-table {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.table-row-cell:selected {
    -fx-background-color: #1F81D7;
}

.table-view .column-header {
    -fx-background-color: #0D6895;
    -fx-border-width: 0 1px 1px 0;
    -fx-border-color: #FFF;
    -fx-font-size: 15px;
}
#course-table .column-header .label{
    -fx-font-size: 13px;
}
.scroll-pane {
    -fx-background: #FFFFFF;
    -fx-border-width: 0;
    -fx-border-color: #FFF;
}

.current-semester, .current-class {
    -fx-font-family: Tahoma;
    -fx-font-size: 20px;
    -fx-text-fill: #0d6895;
    -fx-font-weight: bold;
}

#password-reset {
    -fx-text-fill: #0d6895;
    -fx-underline: true;
    -fx-cursor: hand;
}

#password-reset:hover {
    -fx-text-fill: #1F81D7;
}

.table-column {
    -fx-alignment: center;
}
.combo-box {
    -fx-background-color: #FFF;
    -fx-border-color: #CCC;
    -fx-border-width: 1px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}
.non-editable {
    -fx-background-color: transparent;
}
.attend-info {
    -fx-font-family: Tahoma;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #666;
}
